#root {
  padding-top: 5rem;
  padding-bottom: 5rem;
  max-width: 50rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  height: 100vh;
  max-height: 100vh;
}

p.title {
  font-weight: 500;
  margin-bottom: .5rem;
}

#root > :first-child {
  height: 100%;
}

#content {
  flex: 1;
}

.fill-row {
  grid-column-start: span 2;
}

.scrollable {
  overflow-y: scroll;
  padding: .0625rem;
  min-height: 0;
}